@import "fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body,
html {
    font-family: Gilroy, DINPro;
}

.header {
    position: fixed;
    z-index: 5;

    &__logo {
        width: 153px;
        height: 25px;
        margin: 25px 0 0 69px;
    }

    &__logo img {
        width: 100%;
        height: 100%;
    }
}

.main {
    width: 1024px;
    height: 768px;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 300%;
    height: 100%;
}

.background img {
    width: 100%;
    height: 100%;
}

.slider-container {
    display: flex;
    transition: transform 0.3s ease-out;
    transform: translateX(0);
    user-select: none;
}

.slide {
    min-width: 1024px;
    height: 768px;
}

.slide1 {
    &__content {
        margin: 165px 43px 0 69px;
    }

    &__hello {
        font-size: 18px;
    }

    &__text {
        font-size: 114px;
        margin: 19px 0 0 0;
        line-height: 118px;
        font-weight: 300;
    }

    &__button {
        display: inline-block;
        width: 288px;
        height: 80px;
        border-radius: 40px;
        border: none;
    }

    &__button img {
        width: 100%;
        height: 100%;
    }

    &__details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__detail1 {
        position: absolute;
        left: 433px;
        top: 155px;
        width: 592px;
        height: 92px;
        z-index: 5;
    }

    &__detail1 img {
        width: 100%;
        height: 100%;
    }

    &__detail2 {
        position: absolute;
        width: 73px;
        height: 71px;
        bottom: 194px;
        left: 24px;
    }

    &__detail2 img {
        width: 100%;
        height: 100%;
    }

    &__detail3 {
        position: absolute;
        width: 222px;
        height: 126px;
        bottom: 0;
        right: 257px;
    }

    &__detail3 img {
        width: 100%;
        height: 100%;
    }

    &__detail4 {
        position: absolute;
        width: 110px;
        height: 113px;
        right: 57px;
        top: 201px
    }

    &__detail4 img {
        width: 100%;
        height: 100%;
    }

    &__detail5 {
        position: absolute;
        width: 82px;
        height: 57px;
        right: 217px;
        top: 62px;
    }

    &__detail5 img {
        width: 100%;
        height: 100%;
    }

}

.slide2 {

    .slide2 {

        &__details {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &__detail1 {
            position: absolute;
            right: 0px;
            top: 75px;
        }

        &__detail2 {
            position: absolute;
            right: 0px;
            top: 97px;
        }

        &__detail3 {
            position: absolute;
            right: 0px;
            top: 100px;
        }

        &__detail4 {
            position: absolute;
            left: 890px;
            top: 414px;
        }

        &__detail5 {
            position: absolute;
            left: 890px;
            top: 515px;
        }
    }


    &__title {
        font-size: 27px;
        margin: 132px 0 0 69px
    }

    &__content {
        margin: 45px 0 0 69px;
        display: flex;
    }

    &__text {
        height: 450px;
        width: 775px;
        background-color: #fff;
        border-radius: 38px;
        padding: 32px;
        box-shadow: 0px 0px 50px 0px #dde8ec;
    }

    &__list {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__list p {
        font-size: 22px;
        min-height: 1170px;
        transform: translateY(0);
        transition: transform 0.3s ease-out;
    }
}

.scroll {

    width: 20px;
    margin: 5px 27px 5px 0;

    &__bar {
        width: 6px;
        height: 440px;
        background-color: #000;
        border-radius: 3px;
    }

    &__thumb {
        position: absolute;
        left: -7px;
        top: 0;
        width: 20px;
        height: 100px;
        background-color: #CF578D;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 0px #8E406A inset, 0px -5px 5px 0px #E198B9 inset, -5px 0px 5px 0px #E198B9 inset;
    }
}

.slide3 {

    &__bottle {
        position: absolute;
        z-index: 10;
        top: 65px;
        left: 10px;
    }

    &__header {
        margin: 160px 0 0 350px;
        z-index: 10;
    }

    &__title {
        font-size: 27px;
    }

    &__brand {
        font-size: 95px;
    }

    &__preview {
        margin: 70px 80px 0 227px;
        height: 270px;
        display: flex;
        justify-content: space-between;
    }

    &__message1 {
        flex: 0 0 414px;
        background-color: #fff;
        border-radius: 40px;
        box-shadow: 0px 0px 50px 0px #dde8ec;
        padding: 45px 45px 45px 125px;
    }

    &__message1 img {
        position: absolute;
        left: 124px;
        top: -32px;
    }

    &__rside {
        flex: 0 0 264px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__message2 {
        flex: 0 0 150px;
        padding: 45px;
        background-color: #fff;
        border-radius: 40px;
        box-shadow: 0px 0px 50px 0px #dde8ec;
    }

    &__message2 img {
        position: absolute;
        left: 42px;
        top: -29px;
    }

    &__button {
        flex: 0 0 80px;
        border-radius: 40px;
        border: none;
    }

    &__button img {
        width: 100%;
        height: 100%;
    }


}


.footer {
    bottom: 30px;
    position: fixed;
    z-index: 5;

    &__logo {
        width: 57px;
        height: 12px;
        margin: 0 0 0 69px;
    }

    &__logo img {
        width: 100%;
        height: 100%;
    }
}